<hr />
<%= link_to "班级目录", sch_classes_path %>
<%= render 'error' %>
<p>
<%= form_for @sch_class do |f| %>
	<%= f.label '年级：' %>
	<%= f.label @sch_class.grade %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.label '班级：' %>
	<%= f.label @sch_class.class_number %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.label '班主任：' %>
	<%= f.text_field :teacher %>
	<%= f.submit "提交更改" %>
	<%= link_to "还原", sch_class_path %>
<% end %>
</p>
<hr />
